*
{
    padding: 0px;
    margin: 0px;
}
body
{
    background-image: url(./9011110.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
fieldset
{
    height: 490px;
    width: 400px;
    margin-left: 560px;
    margin-top: 120px;
    border: 3px solid rgb(120, 99, 255);
    border-radius: 10px;
    background-image: linear-gradient(transparent,rgba(137, 43, 226, 0.595)), url(./weather.png);
    background-size: 100%, 70%;
    background-position: 0px 0px,210px 280px;
    background-repeat: no-repeat, no-repeat;
    background-color: rgba(157, 78, 231, 0.548);
}
#headline
{
    font-size: 35px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: gold;
}
#city_input
{
    font-size: 30px;
    margin-left: 110px;
    margin-top: 70px;

}
#inpu
{
    background-color: rgba(137, 43, 226, 0.725);
    border: 2px solid rgb(77, 25, 127);
    border-radius: 20px;
    color: rgba(255, 217, 0, 0.698);
    text-align: center;
    height: 30px;
    width: 250px;
    margin-top: 10px;
    margin-left: 70px;
    font-size: 20px;
}
button{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    font-size: 15px;
    margin-left: 120px;
    background-color: rgb(132, 0, 255);
    border: none;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(144, 47, 234);
}
table{
    margin-top: -20px;
    margin-left: 30px;
    font-size: 20px;
}


#tagline
{
    margin-left: 670px;
    margin-top: 40px;
}